<head>
  <script>
      $(document).ready(function () {
        $('#scan').click(function () {
          $('body').addClass('scanning');
          setTimeout(function () {
           $('body').removeClass('scanning');
         }, 3 * 1000);
        });
      });
    </script>
</head>
<div class="app-container">
<h1>Clover</h1>

<div id="menu">
    <ul id="menu-items">
        <li class=".btn">Espresso</li>
        <li class=".btn">Tea</li>
        <li class=".btn">Blended</li>
        <li class=".btn">Bakery</li>
        <li class=".btn">Lunch</li>
        <li class=".btn">Whole Beans</li>
        <li class=".btn">Misc</li>
    </ul>
</div>

<div class="combined-container">
  <div class="payments-container">
    <div class="user-name">
      <h2>Millie Chan</h2>
    </div>

    <div class="kairos-container">
      <div class="prof-pic">
        <img class="millie" src="https://media.licdn.com/media/AAEAAQAAAAAAAAVDAAAAJDQwMWNiYmUzLWI3MjktNDVlYy1hNzUxLWViOTIxMjhiZDc5MQ.jpg">
      </div>

      <button class="snap-shot" id="scan">
        Smile Pay
      </button>
  </div>


    <div class="row2-grid">
      <div class="cell">Debit/Credit</div>
      <div class="cell">Cash</div>
      <i class="cell fa fa-btc" aria-hidden="true"></i>
      <div class="cell">Discounts</div>
      <div class="cell">$8.00</div>
      <div class="cell">$10.00</div>
    </div>
  </div>
  </div>

  <div class="tender-items-container">
     <div class="items">
       <table class=style="width:100%">
          <tr>
            <th>Qty</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Med Drip</td>
            <td>$2.25</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Muffin</td>
            <td>$3.75</td>
          </tr>
        </table>
        <table style="width:100%">
          <tr>
            <th>Sub-total</th>
            <th>Tax</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>Sub-total</td>
            <td>Tax</td>
            <td>Total</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
        </table>

     </div>
     <div class="calculator">
       <div class="num">1</div>
       <div class="num">2</div>
       <div class="num">3</div>
       <div class="num">4</div>
       <div class="num">5</div>
       <div class="num">6</div>
       <div class="num">7</div>
       <div class="num">8</div>
       <div class="num">9</div>
       <div class="num">Clear</div>
       <div class="num">0</div>
       <div class="num">Enter</div>
       </div>
     </div>
  </div>
</div>
