
<div class="app-container">

<h1>Clover</h1>

<div id="menu">
    <ul id="menu-items">
        <li>Espresso</li>
        <li>Tea</li>
        <li>Blended</li>
        <li>Bakery</li>
        <li>Lunch</li>
        <li>Whole Beans</li>
        <li>Misc</li>
    </ul>
</div>

<div class="combined-container">
  <div class="payments-container">
    <div class="user-name">
      <h2>Millie Chan</h2>
    </div>

    <div class="kairos-container">
      <div class="prof-pic">
        <img src="images/millie.jpg">
      </div>

      <div class="snap-shot">
        <h4>Take Snapshot</h4>
      </div>
  </div>


    <div class="row2-grid">
      <div class="cell">Debit/Credit</div>
      <div class="cell">Cash</div>
      <div class="cell">Bitcoin</div>
      <div class="cell">Discounts</div>
      <div class="cell">$8.00</div>
      <div class="cell">$10.00</div>
    </div>
  </div>
  </div>

  <div class="tender-items-container">
     <div class="items">
     </div>
     <div class="calculator">
       <div class="num">1</div>
       <div class="num">2</div>
       <div class="num">3</div>
       <div class="num">4</div>
       <div class="num">5</div>
       <div class="num">6</div>
       <div class="num">7</div>
       <div class="num">8</div>
       <div class="num">9</div>
       <div class="num">Clear</div>
       <div class="num">0</div>
       <div class="num">Enter</div>
       </div>
     </div>
  </div>
</div>
