<h1>Take a snapshot of the current video stream</h1>
   Click on the Start WebCam button.
    <p>
      <button onclick="startWebcam();">Start WebCam</button>
      <button onclick="stopWebcam();">Stop WebCam</button>
      <button onclick="snapshot();">Take Snapshot</button>
      <button onclick="injectedObject.startCamera();">Cool WebCam</button>

    </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
  <p> Screenshots : <p>
      <canvas  id="myCanvas" width="400" height="350"></canvas>



<form enctype="multipart/form-data" method="post">
  <h2>Regular file upload</h2>
  <input type="file"></input>

  <h2>capture=camera</h2>
  <input type="file" accept="image/*;capture=camera"></input>

  <h2>capture=camcorder</h2>
  <input type="file" accept="video/*;capture=camcorder"></input>

  <h2>capture=microphone</h2>
  <input type="file" accept="audio/*;capture=microphone"></input>
</form>

