.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#menu-items {
  display: block;
  /*background: aquamarine;*/
}
#menu li {
    display: inline-block;
    font-size: 14px;
    padding: 18px;
    width: 13vw;
    background-color: #FE8453;
    text-align: center;

}

h1 {
  position: relative;
  text-align: right;
  margin-right: 2%;
}

.combined-container {
  width: 100%;
}

.kairos-container {
  height: 50%;
}
.payments-container {
  /*background: white ;*/
  height: 100vh;
  width: 66%;
  display: inline-block;
  float: left;
  padding-left: 3%;
}
.user-name{
  position: relative;
}

.snap-shot{
  position: relative;
  left: 350px;
  top: -184px;
  padding: 15px;
  border-style: solid;
  width: 170px;
  background-color: #FE8453;
}

.prof-pic {
  position: relative;;
  width: 40vh;
}

.row2-grid {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-around;*/
  display: block;
  float: left;
  width: 100%;
  padding: 2px;
}

.cell {
  font-size: 18px;
  position: relative;
  margin: 1px;
  display: inline-block;
  float: left;
  top: -45px;
  height: 10vh;
  width: 32%;
  background-color: #FE8453;
  text-align: center;
  padding-top: 3%;
}

.tender-items-container {
  width: 34%;
  /*background: red;*/
  height: 100%;
  display: inline-block;
  float: left;
}

.items{
  height: 40%;
  background: #e6e6e6;
  width: 98%;
}

.num{
  height: 9vh;
  display: inline-block;
  float: left;
  width: 32%;
  margin: 1px;
  background-color: #FE8453;
  text-align: center;
  font-size: 20px;
  padding-top: 3%;
}




.scanning:after {
  content: '';
  /* make the element cover the whole thing */
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* and sit in front */
  z-index: 1;
  /* gradient with a radar like fade */
  background:
    linear-gradient(90deg,
      rgba(0,0,0,1),
/*       rgba(0,0,0,1) 50%, */
      rgba(0,255,0,.5) 55%,
      rgba(0,255,0,1) 56%,
/*       rgba(0,0,0,1) 56%, */
      rgba(0,0,0,1)
    );
  /* make it big enough so when we slide it around still covers whole image */
  background-size:     300% 100%;
  background-repeat:   no-repeat;
  /* start with the scan bar just off the left side */
  background-position: 84% center;
  -webkit-animation:   scan 5s infinite ease;
}

@-webkit-keyframes scan {
  /* finish with the scan bar just off the right side */
  100% { background-position: 25% center; }
}

/* these are just for the placeholder content */
p, button { font-size: xx-large; font-family: sans-serif; }

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

p img.millie { float: auto;
 }
