#row1-li li {
    border-style: solid;
    display: inline-block;
    font-size: 165%;
    padding: 18px;
}

h1 {
  position: relative;
  left: 800px;
}

.user-name{
  position: relative;
  top: 55px;
}

.prof-pic {
  position:relative;;
    top: 70px;
    height: 20px;
    width: 20px;
}

.row2-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell {
  position:relative;;
    top: 260px;
  border-style: solid;
  padding: 20px;
  flex: 0 0 30%;
  height: 50px;
  margin-bottom: 5px;
  /*background-color: #999;*/
}

/*.cell:nth-child(3n) {
  background-color: #999;
}*/
